<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style.css">
  <title>weather app</title>
</head>

<body>
  <section>
    <% cities.forEach((city, index)=>{ %>
    <a href="./detailed.ejs/cities/<%= index %>" target="_blank">
      <div>
        <p>
          <span>
            <%= city.city %>
          </span>
          <span>
            <%= city.location %>
          </span>
        </p>
        <p>
          <%= city.weather[0].temp %> C°
        </p>
        <p>
          <img src="./../assets/<%= city.weather[0].icon %>.png" alt="<%= city.weather[0].icon %>">
        </p>
      </div>
    </a>
    <% }); %>
  </section>
</body>

</html>